<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="hw_top">
        <div class="hw_assign_btn_div">
            <button class="hw_assign_btn">과제부여하기</button>
        </div>
        <div class = "hw_list_title_div">
            <img src="../img/img/book-btn.png" alt="book-btn" class="book-btn">
            <p class = "hw_list_title">과제 목록</p>
        </div>
        <div class="hw_box_div">
            <button class="hw_box">
                <p class="hw_category">[과제 : 깃]</p>
                <p class="hw_title">repository 생성과 push</p>
                <p class="hw_deadline">3월27일 월요일 19시까지</p>
            </button>
            <button class="hw_box">
                <p class="hw_category">[과제 : HTML & CSS]</p>
                <p class="hw_title">12기 멋사 LMS 페이지 따라하기</p>
                <p class="hw_deadline">4월3일 월요일 19시까지</p>
            </button>
            <button class="hw_box">
                <p class="hw_category">[과제 : JS]</p>
                <p class="hw_title">반응형 웹페이지 만들어보기</p>
                <p class="hw_deadline">3월27일 월요일 19시까지</p>
            </button>
            <button class="hw_box">
                <p class="hw_category">[과제 : Java]</p>
                <p class="hw_title">클래스 속성을 이용해서 은행계좌 만들기</p>
                <p class="hw_deadline">3월27일 월요일 19시까지</p>
            </button>
        </div>
    </div>

</body>
</html>